.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color:#f5f0e3 ;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #423144;
  font-size: 8rem;
    color:#40bfc1;
}

p {
  font-size: 2rem;
  color: #40bfc1;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}


